{% load staticfiles %}

<html>
    <head>
        <title>
            {% block title_html %}{% endblock %}
        </title>

        <link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css"/>
        <link href="{% static "bootstrap3/css/bootstrap.css" %}" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "bootstrap3/css/bootstrap-theme.min.css" %}">
        <script shref="{% static "bootstrap3/js/bootstrap.min.js" %}"></script>

    </head>

    <body>
        <article>
            {% block article_content %}{% endblock %}
        </article>
    </body>
</html>