{% extends "base.html" %}
{% block title_html %}
    {{ object }}
{% endblock %}

{% block article_content %}

    <div class="jumbotron">
        <a href="{% url "tournament:game_sheet" game.pk %}" class="pull-right btn btn-primary">
            Print westrijdblad
        </a>

        <h3>{{ object.group }}</h3>
        <h4>{{ object.date }}</h4>
        <h4>{{ object.location.name }}</h4>


        <div class="row">
            <div class="col-md-10">
                <h1>{{ object.team_home }}</h1>
            </div>
            <div class="col-md-2">
                <h1>{{ object.amount_home }}</h1>
            </div>

        </div>
        <div class="row">
            <div class="col-md-10">
                <h1>{{ object.team_away }}</h1>
            </div>
            <div class="col-md-2">
                <h1>{{ object.amount_away }}</h1>

            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-6">
            <h3>
                {{ object.team_home }}
            </h3>

            <table class="table table-striped">
                <tr>
                    <th>Player</th>
                    <th>Goals</th>
                </tr>
                {% for goal in object.goal_set.all %}
                    {% if goal.player.team == object.team_home %}
                    <tr>
                        <td>
                            {{ goal.player }}
                        </td>
                        <td>
                            {{ goal.amount }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

        </div>

        <div class="col-md-6">
            <h3>
                {{ object.team_away }}
            </h3>

            <table class="table table-striped">
                <tr>
                    <th>Player</th>
                    <th>Goals</th>
                </tr>
                {% for goal in object.goal_set.all %}
                    {% if goal.player.team == object.team_away %}
                    <tr>
                        <td>
                            {{ goal.player }}
                        </td>
                        <td>
                            {{ goal.amount }}
                        </td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>

        </div>
    </div>






{% endblock %}