{% extends "base.html" %}
{% block title_html %}
    Games
{% endblock %}

{% block article_content %}
    <div class="container">

        {% for game in object_list %}
            <div class="row">

                <div class="col-md-4 text-center">
                    {{ game.team_home }}
                </div>
                <div class="col-md-3">
                    <a href="{% url "tournament:game_detail" game.pk %}">{{ game.date }}</a>
                </div>
                <div class="col-md-4 text-center">
                    {{ game.team_away }}
                </div>

            </div>
        {% endfor %}

    </div>
{% endblock %}