{% extends "base.html" %}
{% block title_html %}
    Groups
{% endblock %}
{% block article_content %}

    <div class="container">
        {% for group in object_list %}

            {% if forloop.counter|divisibleby:2 %}<div class="row">{% endif %}
                <div class="col-md-6">

                    <h1><a href="{% url "tournament:group_detail" group.pk %}">{{ group.code }}</a></h1>

                    <table class="table table-striped">
                        <tr>
                            <th>
                                Plaats
                            </th>
                            <th>
                                Team
                            </th>
                            <th>
                                +/-
                            </th>
                            <th>
                                Ptn.
                            </th>
                        </tr>

                        {% for team in group.get_standing %}
                            <tr>
                                <td>
                                    {{ forloop.counter }}
                                </td>
                                <td>
                                    {{ team.team.name }}
                                </td>
                                <td>
                                    {{ team.goals_ratio }}
                                </td>
                                <th>
                                    {{ team.total_points }}
                                </th>
                            </tr>
                        {% endfor %}
                    </table>

                </div>

            {% if forloop.counter|divisibleby:2 %}</div>{% endif %}


        {% endfor %}
    </div>
{% endblock %}