{% extends "base.html" %}
{% block title_html %}
    Players
{% endblock %}
{% block article_content %}
    <div class="container">
        {% for key, values in players.items %}
            {% if values %}
                <div class="row">
                    <h1>{{key}}</h1>
                </div>
                {% for v in values %}
                    <div class="row"><a href="{% url "tournament:player_detail" v.pk %}">{{v}}</a></div>
                {% endfor %}
            {%  endif %}
        {% endfor %}

    </div>




{% endblock %}